.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  color: var(--primary-text);
  font-family: 'nunito';
  font-weight: 800;
  font-size: 22px;
}

.spinner {
  margin-bottom: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
