.message_box{
  position:relative;
  height: 90vh;
  background-color: var(--primary);
}

.message_inside{
  width: 100%;
  position:absolute;
  padding: 1em;
}

.message_scroll{
  height: 80vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.message_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.recive_msg {
  width: 100%;
  padding: 0.5em 0em;
  display: flex;
  justify-content:left;
  width: 100%;
}

.recive_chat {
  width: auto;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--powder-orange);
  color: var(--primary);
  font-weight: 600;
}

.send_msg {
  width: 100%;
  padding: 0.5em 0em;
  display: flex;
  justify-content: right;
  width: 100%;
}

.send_chat {
  width: auto;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--primary-mid);
  color: var(--primary-dark);
  font-weight: 600;
}

.chat_nput {
  padding: 5px 0px;
  border-radius: 50%;
}